@model FoodAdvisor.Models.Restaurant

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align: center">Create</h1>

<h4>Restaurant</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailOwner" class="control-label"></label>
                <input asp-for="MailOwner" class="form-control" />
                <span asp-validation-for="MailOwner" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div>Address</div>
            <hr />
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-12">
            <div style="text-align: center">Grade</div>
            <hr />
            <div class="form-group">
                <label asp-for="Grade.Date" class="control-label"></label>
                <input type="date" asp-for="Grade.Date" class="form-control"/>
                <span asp-validation-for="Grade.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Score" class="control-label"></label>
                <input type="number" asp-for="Grade.Score" class="form-control"/>
                <span asp-validation-for="Grade.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Comment" class="control-label"></label>
                <textarea asp-for="Grade.Comment" class="form-control"></textarea>
                <span asp-validation-for="Grade.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
